<!-- 1. Confirmation Hero -->
<div class="px-6 mx-auto max-w-2xl py-20 text-center">
  <div class="mx-auto flex h-16 w-16 items-center justify-center rounded-full bg-green-100">
    <svg class="h-10 w-10 text-green-600" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
    </svg>
  </div>
    <% if @receipt.present? %>
      <h1 class="mt-6 text-3xl font-semibold text-gray-900">
        Payment Successful
      </h1>

      <p class="mt-2 text-gray-600">
        Thank you for your purchase. Your subscription is now active.
      </p>
    <div class="mt-6 rounded-lg bg-white">
      <div class="bg-sky-500 px-4 rounded-md border border-gray-400 py-5 sm:px-6">
        <!-- Content goes here -->
        <h2 class="text-lg font-semibold text-gray-100">Order Summary</h2>
        <!-- We use less vertical padding on card headers on desktop than on body sections -->
      </div>
      <div class="mt-4 rounded-lg border border-gray-300 bg-white px-4 py-5 sm:p-6">
        <!-- Content goes here -->
        <dl class="space-y-4">
        <div class="flex justify-between">
          <dt class="font-semibold text-gray-500">Plan</dt>
          <dd class="font-medium font-semibold text-sky-500"><%= @receipt.plan_name.upcase %></dd>
        </div>

        <div class="flex justify-between">
          <dt class="font-semibold text-gray-500">Amount Paid</dt>
          <dd class="font-medium font-semibold text-green-600">$<%= @receipt.amount_cents / 100.0 %></dd>
        </div>


        <div class="flex justify-between">
          <dt class="font-semibold text-gray-500">Customer</dt>
          <dd class="font-medium text-gray-900"><%= @receipt.name %></dd>
        </div>

        <div class="flex justify-between">
          <dt class="font-semibold text-gray-500">Email</dt>
          <dd class="font-medium text-gray-900"><%= @receipt.email %></dd>
        </div>

        <div class="flex justify-between">
          <dt class="font-semibold text-gray-500">Receipt ID</dt>
          <dd class="pl-2 text-sm/6 text-gray-900 truncade"><%= @receipt.stripe_session_id %></dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="px-4 py-4 sm:px-6">
    <!-- Content goes here -->
    <!-- 3. Call to Action -->
    <div class="mx-auto mt-10 max-w-2xl text-center">
      <%= link_to "Home",
          root_path,
          class: "inline-flex items-center rounded-md bg-sky-500 px-4 py-2 text-sm font-semibold text-white hover:bg-sky-400" %>

      <p class="mt-4 text-gray-500">
        A receipt has been emailed to you.
      </p>
    <% else %>
      <p class="text-center text-gray-600">Receipt not found.</p>
    <% end %>
    </div>
    <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
  </div>
</div>
</div>

